@model IEnumerable<Fiap.Web.MVPSaude.Models.ConsultaModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta</title>
</head>
<body>
    <h1>Consultas</h1>
    <p>
        <!-- uso de TagHelpers para definir o Controller e a Action -->
        <a class="button" asp-controller="Consulta" asp-action="Cadastrar">Nova Consulta</a>
    </p>

    <!-- Verifica se a chave "Mensagem" existe no TempData -->
    @if (@TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            <!-- Imprime para o usuário a mensagem -->
            @TempData["Mensagem"]
        </div>
    }


    <table class="table" border="1">
        <tr>
            <th>Id</th>
            <th>Paciente</th>
            <th>Médico</th>
            <th>Data da Consulta</th>
            <th>Hora da Consulta</th>
            <th>Local da Consulta</th>
            <th>Mensagem</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.ConsultaId</label>
                </td>
                <td>
                    <label>@item.Paciente.NomePaciente</label>
                </td>
                <td>
                    <label>@item.Medico.NomeMedico</label>
                </td>
                <td>
                    <label>@item.DataConsulta</label>
                </td>
                <td>
                    <label>@item.HoraConsulta</label>
                </td>
                <td>
                    <label>@item.LocalConsulta</label>
                </td>
                <td>
                    <label>@item.Mensagem</label>
                </td>
                <td>

                    <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                    <a class="button" asp-controller="Consulta"
                       asp-action="Editar"
                       asp-route-id="@item.ConsultaId">Editar</a>

                    <a class="button" asp-controller="Consulta"
                       asp-action="Consultar"
                       asp-route-id="@item.ConsultaId">Consultar</a>

                    <a class="button" asp-controller="Consulta"
                       asp-action="Excluir"
                       asp-route-id="@item.ConsultaId">Excluir</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
