@model Fiap.Web.MVPSaude.Models.ProntuarioModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prontuário - Consultar</title>
</head>
<body>
    <h1>Prontuário - Consultar</h1>

    <div class="form-horizontal">
        <hr />        

        <div class="form-group">
            <label><b>Paciente:</b></label>
            <div class="col-md-10">
                <span>@Model.PacienteId</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"><b>Historico Paciente:</b></label>
            <div class="col-md-10">
                <span>@Model.HistPaciente</span>
            </div>
        </div>

        <div class="form-group">
            <label><b>Medicamentos:</b></label>
            <div class="col-md-10">
                <!-- Caixa de Texto -->
                <span>@Model.Medicamento</span>
            </div>
        </div>

        <div class="form-group">
            <label><b>Triagem:</b></label>
            <div class="col-md-10">
                <span>@Model.Triagem</span>
            </div>
        </div>

        <div class="form-group">
            <label><b>Histórico Familiar:</b></label>
            <div class="col-md-10">
                <span>@Model.HistFamiliar</span>
            </div>
        </div>
        <div class="form-group">
            <label><b>Exames:</b></label>
            <div class="col-md-10">
                <span>@Model.Exames</span>
            </div>
        </div>
        
        <div class="form-group">
            <label><b>Data do Prontuário:</b></label>
            <div class="col-md-10">
                <span>@Model.DataProntuario</span>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="button" asp-controller="Prontuario" asp-action="Index" class="btn btn-warning">Voltar</a>
            </div>
        </div>
        <hr />
    </div>

</body>
</html>
