@model IEnumerable<Fiap.Web.MVPSaude.Models.MedicoModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Médicos</title>
</head>
<body>
    <h1>Médicos</h1>
    <p>
        <!-- uso de TagHelpers para definir o Controller e a Action -->
        <a asp-controller="Medico" asp-action="Cadastrar">Novo Médico</a>
    </p>

    <!-- Verifica se a chave "Mensagem" existe no TempData -->
    @if (@TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            <!-- Imprime para o usuário a mensagem -->
            @TempData["Mensagem"]
        </div>
    }


    <table class="table" border="1">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CRM</th>
            <th>Especialidade</th>
            <th>Contato</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.MedicoId</label>
                </td>
                <td>
                    <label>@item.NomeMedico</label>
                </td>
                <td>
                    <label>@item.Crm</label>
                </td>
                
                <td>
                    <label>@item.Especialidade</label>
                </td>
                <td>
                    <label>@item.Contato</label>
                </td>
                <td>

                    <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                    <a asp-controller="Medico"
                       asp-action="Editar"
                       asp-route-id="@item.MedicoId">Editar</a>

                    <a asp-controller="Medico"
                       asp-action="Consultar"
                       asp-route-id="@item.MedicoId">Consultar</a>

                    <a asp-controller="Medico"
                       asp-action="Excluir"
                       asp-route-id="@item.MedicoId">Excluir</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
